{% extends "layout/layout.html" %}

{% block body %}

<div id="ABdev_header_spacer"></div>

<section id="ABdev_main_slider">
	<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:850px;">
		<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:850px;height:850px;">
			<ul>
				<!-- SLIDE  -->
				<li data-transition="random-static" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
					<!-- MAIN IMAGE -->
					<img src="images/slide1.png"  alt="slider1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption Lato_Big_White tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="295" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
					MACE
					</div>
					<!-- LAYER NR. 2 -->
					<div class="tp-caption tp-fade" data-x="right" data-hoffset="-369" data-y="300" data-speed="0" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 3;">
						<img src="images/element.png" alt="">
					</div>
					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade" data-x="right" data-hoffset="-777" data-y="300" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 4;">
						<div class="tp-layer-inner-rotation" style=" -moz-transform: rotate(181deg); -ms-transform: rotate(181deg); -o-transform: rotate(181deg); -webkit-transform: rotate(181deg); transform: rotate(181deg); -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%;">
							<img src="images/element.png" alt="">
						</div>
					</div>
					<!-- LAYER NR. 4 -->
					<div class="tp-caption Lato_Small_White tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
						Welkom!
					</div>
					<!-- LAYER NR. 5 -->
					<div class="tp-caption Lato_Small_White2 tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="60" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 6; max-width: auto; max-height: auto; white- ace: nowrap;">
						Welkom op mijn persoonlijke website!
					</div>
				</li>
			</ul>
			<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
		</div>
	</div>
	<!-- END REVOLUTION SLIDER -->
</section>

<section class="vozx_section_dd aligncenter white_text vozx-parallax" data-background_image="images/background_1.jpg" data-parallax="0.6">
		<div class="vozx_section_content">
			<div class="vozx_container">
				<div class="vozx_column_dd_span12 vozx-animo" data-animation="fadeIn" data-duration="1000" data-delay="200">
					<h2><span><strong></strong></span></h2>
					<h3 class="light"><span></span></h3>
				</div>
			</div>
		</div>
</section>

<section class="vozx_section_dd pattern_overlayed aligncenter overflowed">
	<div class="vozx_section_content">
		<div class="vozx_container">
			<div class="vozx_column_dd_span12 ">
				<div class="vozx-animo image_overlap" style="left: 0; margin-left: 0;top: -130px;" data-animation="fadeIn" data-duration="1000" data-delay="0">
					<img src="images/image_sublime.png" style="width:70%;" alt="">
				</div>
				<span class="clear spacer_responsive_hide_mobile spacer_responsive_hide_tablet spacer_210"></span>
				<h5 class="light"><span></span></h5>
			</div>
		</div>
	</div>
</section>

<section class="vozx_section_dd section_with_header">
	<header>
		<div class="vozx_container">
			<h3>MACE MUILMAN</h3>
		</div>
	</header>
	<div class="vozx_section_content">
		<div class="vozx_container">
			<div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInDown" data-duration="1000" data-delay="200">
				<div class="vozx_service_box vozx_service_box_unboxed_square">
					<div class="vozx_service_box_header">
						<div class="vozx_icon_boxed">
							<i class="icon-sun-o"></i>
						</div>
						<h3>COMPLEXE WEB OPLOSSINGEN</h3>
					</div>
					<p>Van simpele informatie websites tot complexe beheer systemen!</p>
				</div>
			</div>
			<div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInDown" data-duration="1000" data-delay="200">
				<div class="vozx_service_box vozx_service_box_unboxed_square">
					<div class="vozx_service_box_header">
						<div class="vozx_icon_boxed">
							<i class="icon-code"></i>
						</div>
						<h3>CLEAN CODING</h3>
					</div>
					<p>Nette en goed onderhoudbare code.</p>
				</div>
			</div>
			<div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInDown" data-duration="1000" data-delay="200">
				<div class="vozx_service_box vozx_service_box_unboxed_square">
					<div class="vozx_service_box_header">
						<div class="vozx_icon_boxed">
							<i class="icon-anchor"></i>
						</div>
						<h3>SLIMME OPLOSSINGEN</h3>
					</div>
					<p>Kwaliteit > kwantiteit.</p>
				</div>
			</div>
			<div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInDown" data-duration="1000" data-delay="200">
				<div class="vozx_service_box vozx_service_box_unboxed_square">
					<div class="vozx_service_box_header">
						<div class="vozx_icon_boxed">
							<i class="icon-leaf"></i>
						</div>
						<h3>TOEKOMST BESTENDIG</h3>
					</div>
					<p>Altijd de laaste technologieen!</p>
				</div>
			</div>
		</div>
	</div>
</div>		
</section>

<section class="vozx_section_dd darken white_text vozx-parallax" data-background_image="images/code1.png" data-parallax="0.6">
	<div class="vozx_section_content">
		<div class="vozx_container">
			<div class="vozx_column_dd_span12 vozx-animo" data-animation="fadeIn" data-duration="1000" data-delay="200">
				<blockquote class="vozx_blockquote vozx_blockquote_wide ">
					<p class="quotation_mark">&lsquo;&lsquo;</p>
					<p>&rsquo;We don't make mistakes, just happy little accidents.&lsquo;<small>BOB ROSS</small></p>
				</blockquote>
			</div>
		</div>
	</div>
</section>

<section class="vozx_section_dd no_padding_bottom section_with_header">
	<header>
		<div class="vozx_container">
			<h3>OVER MIJ</h3>
		</div>
	</header>		
	<div class="vozx_section_content">
		<div class="vozx_container">
			<div class="vozx_column_dd_span6 vozx-animo" data-animation="fadeInLeft" data-duration="1000" data-delay="200">
				<div class="vozx-animo" data-animation="fadeIn" data-duration="1000" data-delay="0">
					<img src="images/profiel_foto.jpg" alt="">
				</div>
			</div>
			<div class="vozx_column_dd_span6 vozx-animo" data-animation="fadeInRight" data-duration="1000" data-delay="200">
				<div class="vozx-accordion vozx_accordion_borderless" data-expanded="2">
					<h3>WIE</h3>
					<div class="vozx-accordion-body">
					Mijn naam is Mace, ik ben 20 jaar, uit Pijnacker.
					</div>
					<h3>WAT</h3>
					<div class="vozx-accordion-body">
					Ik ben voornamelijk PHP programmeur (back-end), het liefst in Laravel, maar ik doe ook front-end werk.
					</div>
					<h3>WAAR</h3>
					<div class="vozx-accordion-body">
					Ik werk bij <a target="_blank" href="http://moodles.nl">MOODLES</a>, een gaaf webbureau in Rotterdam dan!
					</div>
					<h3>HOE</h3>
					<div class="vozx-accordion-body">
					Het liefst programmeer ik back-end oplossingen met Laravel, ik vind het erg leuk om met de laatste technologieen te werken.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="vozx_section_dd darken smaller_headline no_padding_bottom vozx-parallax section_with_header" data-background_image="images/code2.png" data-parallax="0.6">
	<header>
		<div class="vozx_container">
			<h3>FEITJES</h3>
		</div>
	</header>
	<div class="vozx_section_content">
		<div class="vozx_container">
			<div class="vozx_column_dd_span3">
				<div class="vozx_stats_excerpt vozx_stats_excerpt_1">
					<i class="icon-group"></i>
					<span class="vozx_stats_number white_text" data-number="3" data-duration="1500"></span>
					<span class="vozx_stats_number_sign">+</span>
					<p>Jaar ervaring</p>
				</div>
			</div>
			<div class="vozx_column_dd_span3">
				<div class="vozx_stats_excerpt vozx_stats_excerpt_1">
					<i class="icon-send"></i>
					<span class="vozx_stats_number white_text" data-number="25" data-duration="1500"></span>
					<span class="vozx_stats_number_sign">+</span>
					<p>Projecten meegewerkt</p>
				</div>
			</div>
			<div class="vozx_column_dd_span3">
				<div class="vozx_stats_excerpt vozx_stats_excerpt_1">
					<i class="icon-copy"></i>
					<span class="vozx_stats_number white_text" data-number="5000" data-duration="1500"></span>
					<span class="vozx_stats_number_sign">+</span>
					<p>Bestanden aangemaakt</p>
				</div>
			</div>
			<div class="vozx_column_dd_span3">
				<div class="vozx_stats_excerpt vozx_stats_excerpt_1">
					<i class="icon-retweet"></i>
					<span class="vozx_stats_number white_text" data-number="500000" data-duration="1500"></span>
					<span class="vozx_stats_number_sign">+</span>
					<p>Regels code geschreven</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="vozx_section_dd pattern_overlayed smaller no_padding_bottom section_with_header">
	<header>
		<div class="vozx_container">
			<h3>MIJN SKILLS EN ERVARINGEN</h3>
			<p></p>
		</div>
	</header>
	<div class="vozx_section_content">
		<div class="vozx_container">
			<div class="vozx_column_dd_span6 ">
				<div class="vozx_progress_bar vozx_progress_bar_default">
					<span class="vozx_meter_label">LARAVEL</span>
					<div class="vozx_meter">
						<div class="vozx_meter_percentage progress_bar_gray_color" data-percentage="90"><span>90%</span></div>
					</div>
				</div>
				<div class="vozx_progress_bar vozx_progress_bar_default">
					<span class="vozx_meter_label">PHP</span>
					<div class="vozx_meter">
						<div class="vozx_meter_percentage progress_bar_gray_color" data-percentage="70"><span>90%</span></div>
					</div>
				</div>
				<div class="vozx_progress_bar vozx_progress_bar_default">
					<span class="vozx_meter_label">NODE.JS</span>
					<div class="vozx_meter">
						<div class="vozx_meter_percentage progress_bar_gray_color" data-percentage="80"><span>80%</span></div>
					</div>
				</div>
				<div class="vozx_progress_bar vozx_progress_bar_default">
					<span class="vozx_meter_label">JAVASCRIPT</span>
					<div class="vozx_meter">
						<div class="vozx_meter_percentage progress_bar_gray_color" data-percentage="55"><span>80%</span></div>
					</div>
				</div>
			</div>
			<div class="vozx_column_dd_span6 ">
				<div class="vozx_progress_bar vozx_progress_bar_default">
					<span class="vozx_meter_label">BOOTSTRAP</span>
					<div class="vozx_meter">
						<div class="vozx_meter_percentage progress_bar_gray_color" data-percentage="90"><span>70%</span></div>
					</div>
				</div>
				<div class="vozx_progress_bar vozx_progress_bar_default">
					<span class="vozx_meter_label">JQUERY</span>
					<div class="vozx_meter">
						<div class="vozx_meter_percentage progress_bar_gray_color" data-percentage="75"><span>70%</span></div>
					</div>
				</div>
				<div class="vozx_progress_bar vozx_progress_bar_default">
					<span class="vozx_meter_label">HTML</span>
					<div class="vozx_meter">
						<div class="vozx_meter_percentage progress_bar_gray_color" data-percentage="45"><span>90%</span></div>
					</div>
				</div>
				<div class="vozx_progress_bar vozx_progress_bar_default">
					<span class="vozx_meter_label">CSS</span>
					<div class="vozx_meter">
						<div class="vozx_meter_percentage progress_bar_gray_color" data-percentage="35"><span>85%</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>		
</section>

<section class="vozx_section_dd section_with_header">
	<header>
		<div class="vozx_container">
			<h3>NEEM CONTACT OP</h3>
			<p>Vragen of opmerkingen? Neem contact op!</p>
		</div>
	</header>
	<div class="vozx_section_content">
		<div class="vozx_container">
			<div class="vozx_column_dd_span12 vozx-animo" data-animation="fadeInDown" data-duration="1000" data-delay="400">
				<div class="vozx_service_box vozx_service_box_unboxed_square">
					<div class="vozx_service_box_header">
						<a href="/contact" target="_self" class="vozx_icon_boxed white_icon">
							<i class="icon-envelope"></i>
						</a>
						<a href="#" target="_self">
							<h3>mace@macemuilman.nl</h3>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>

<section class="vozx_section_dd aligncenter no_padding_top">
	<div class="vozx_section_content">
		<div class="vozx_container">
			<div class="vozx_column_dd_span12 vozx-animo" data-animation="fadeIn" data-duration="1000" data-delay="200">
				<h3>
					<span>STUUR EEN BERICHT</span>
				</h3>
				<div class="vozxcf" id="vozxcf-wrapper" dir="ltr">
					<form method="POST" action="/contact">
						<div class="row">
							<div class="span4">
								<span class="your-name">
									<input type="text" name="naam" size="40" class="vozxcf-text" placeholder="UW NAAM (VERPLICHT)">
								</span>
							</div>
							<div class="span4">
								<span class="your-email">
									<input type="email" name="email" size="40" class="vozxcf-text vozxcf-email vozxcf-validates-as-email" placeholder="UW EMAIL (VERPLICHT)">
								</span>
							</div>
							<div class="span4">
								<span class="your-subject">
									<input type="text" name="onderwerp" size="40" class="vozxcf-text" placeholder="ONDERWERP (VERPLICHT)">
								</span>
							</div>
						</div>
						<p>
							<span class="your-message">
								<textarea name="bericht" cols="40" rows="10" class="vozxcf-textarea" placeholder="BERICHT (VERPLICHT)"></textarea>
							</span>
						</p>
						<div class="left_aligned">
							<input type="submit" value="VERSTUUR BERICHT" class="vozxcf-submit float_none">
						</div>
					</form>
					<div class="vozxcf-response-output vozxcf-display-none"></div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}