{% extends "layout/layout.html" %}

{% block body %}

<div id="ABdev_header_spacer"></div>

<section id="title_breadcrumbs_bar">
	<div class="container">
		<div class="row">
			<div class="span12 center_aligned">
				<div class="breadcrumbs">
					<a href="/">Home</a> / <span class="current">Portfolio</span>
				</div>						
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container portfolio_3columns_description">
		<div class="row portfolio_3column ">
			<div class="portfolio_full_width span12 content ">
				<div class="row">
					<div class="span12">
						<div class="vozx_alert_info">
							<i class="icon-comment"></i> 
							<strong>Noot:</strong> Hier staan enkel persoonlijke projecten! Alle bron code van mijn persoonlijke projecten zijn te vinden op mijn github profiel: <a target="_blank" href="https://github.com/mace015">https://github.com/mace015</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span4">
						<div class="portfolio_inner_content">
							<div class="portfolio_item">
								<div class="overlayed">
									<img src="images/portfolio_processors.png" alt="portfolio1" />										
									<a class="overlay fancybox" data-fancybox-group="portfolio" href="images/portfolio_processors.png">
										<p class="overlay_title">Processors voor Laravel</p>
										<p class="portfolio_item_tags">
											Laravel package
										</p>
									</a>
								</div>
							</div>
							<div class="portfolio_item_meta_detail_description">
								<h6>
									<a target="_blank" href="https://github.com/mace015/Processors">Processors voor Laravel</a>
								</h6>
								<p class="portfolio_3column_detail">
									<span class="portfolio_item_meta_data">
										Laravel package
									</span>
									<span class="detail_content">Mijn eigen package speciaal gemaakt voor Laravel om logic in the plaatsen.</span>
								</p>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="portfolio_inner_content">
							<div class="portfolio_item">
								<div class="overlayed">
									<img src="images/portfolio_larago.png" alt="portfolio7" />										
									<a class="overlay fancybox" data-fancybox-group="portfolio" href="images/portfolio_larago.png">
										<p class="overlay_title">Larago (in ontwikkeling)</p>
										<p class="portfolio_item_tags">
											Platform
										</p>
									</a>
								</div>
							</div>
							<div class="portfolio_item_meta_detail_description">
								<h6>
									<a target="_blank" href="http://larago.com">Larago (in ontwikkeling)</a>
								</h6>
								<p class="portfolio_3column_detail">
									<span class="portfolio_item_meta_data">
										Platform
									</span>
									<span class="detail_content">Larago is een platform voor het delen van stukje Laravel code, dit platform is nog in ontwikkeling!</span>
								</p>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="portfolio_inner_content">
							<div class="portfolio_item">
								<div class="overlayed">
									<img src="images/portfolio_pigeon.png" alt="portfolio4" />										
									<a class="overlay fancybox" data-fancybox-group="portfolio" href="images/portfolio_pigeon.png">
										<p class="overlay_title">Pigeon Post (in ontwikkeling)</p>
										<p class="portfolio_item_tags">
											Chat app
										</p>
									</a>
								</div>
							</div>
							<div class="portfolio_item_meta_detail_description">
								<h6>
									<a target="_blank" href="https://github.com/mace015/PigeonPost">Pigeon Post (in ontwikkeling)</a>
								</h6>
								<p class="portfolio_3column_detail">
									<span class="portfolio_item_meta_data">
										Chat app	
									</span>
									<span class="detail_content">Pigeon post is een chat applicatie die werkt met een Node.js/Socket.io back-end.</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}